.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
rel/saturn_internal
.concrete/DEV_MODE
.rebar
deps/*
ebin/*
dev
apps/saturn_internal/src/*
*.swp
*.swo
src/*.swo
dialyzer_unhandled_warnings
.local_dialyzer_plt
dialyzer_warnings
doc/
.DS_Store
log/
tags
rel/vars/*.config
