%% -*- erlang -*-
{sub_dirs, ["rel"]}.
{deps, [
        {lager, "2.0", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
        {saturn_groups_manager, ".*", {git, "git://github.com/angbrav/saturn_groups_manager.git", {branch, "master"}}}
       ]}.

{erl_opts, [debug_info,
            warnings_as_errors,
            {parse_transform, lager_transform},
            {i, "include"},
            {src_dirs, ["src"]}
            ]}.
{cover_enabled, true}.
{edoc_opts, [{dir, "doc"}]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.
