{sys, [
       {lib_dirs, ["../deps/"]},
       {rel, "saturn_internal", "1",
        [
         kernel,
         stdlib,
         sasl,
         saturn_internal
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "saturn_internal"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, saturn_internal, [{incl_cond, include},{lib_dir, ".."}]},
       {app, hipe, [{incl_cond, exclude}]}
      ]}.

{target_dir, "saturn_internal"}.

{overlay, [
           {mkdir, "data"},
           {mkdir, "log/sasl"},
           {copy, "files/manager", "data/"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/saturn_internal", "bin/saturn_internal"},
           {copy, "files/saturn_internal.cmd", "bin/saturn_internal.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
